<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression_suit">
<parameter name="browser" value="Firefox"></parameter>
<parameter name="URL" value="https://demo.nopcommerce.com"></parameter>

	<test name="Regeression_tests">
		<classes>
			<class name="tests.UserRegistrationTest" />
		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->